*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
  outline: none;
}

.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
header{
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header img{
  width: 200px;
  height: 200px;
  margin-left: 150px;
}

.search-form{

  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.search-bar{
  width: 50%;
  border: none;
  padding: 10px;
}
.search-btn{
  background: #b39c52;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.recipe{
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 40%;
  background-color: white;
  color: black;
  padding: 10px;
}

.recipe ul{
  display: flex;
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.recipe img{
  border-radius: 50%;
}
.kcal{
  font-weight: bold;
}
